{% extends "rest_framework/base.html" %}

{% block content %}
  <div class="container">
    <h2>Change Password</h2>
    
    {% if errors %}
      <div class="alert alert-danger">
        {% for field, error_list in errors.items %}
          {{ field }}: {{ error_list|join:", " }}<br>
        {% endfor %}
      </div>
    {% endif %}
    
    <form method="POST" action="{{ post_url }}" class="form-horizontal">
      {% csrf_token %}
      
      <div class="form-group">
        <label class="col-md-2 control-label">Current Password</label>
        <div class="col-md-10">
          <input type="password" name="old_password" class="form-control" required>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label">New Password</label>
        <div class="col-md-10">
          <input type="password" name="new_password" class="form-control" required>
          <span class="help-block">
            Requirements:
            <ul>
              <li>Minimum {{ password_policy.min_length }} characters</li>
              <li>At least one uppercase letter</li>
              <li>At least one lowercase letter</li>
              <li>At least one number</li>
              <li>At least one special character</li>
            </ul>
          </span>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
          <input type="password" name="confirm_password" class="form-control" required>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}